<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Oparation</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Function Based View Modelform CRUD Project</h2>
    {% block content %}
    {% endblock content %}
</div>
<script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.js' %}"></script>
<script src="{% static 'myapp/js/popper.js' %}"></script>
</body>
</html>